h2{text-align: center; color: blueviolet;}
body{background-color:hotpink;text-align: center; text-shadow: 4px 4px 3px blue;color: antiquewhite;}
h3{text-align: right; color: blue;}
p{text-align: center; color: green;}
#pepito{background-color: red; color: orange;}